<!DOCTYPE html>
{% load  static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <!-- css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
          integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/textstyles.css' %}">      
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
{% include 'navbar/navbar.html' %}
    <div class="modal-body" style="margin-top: 56px;">
                <div class="text-center">
                    <h1 id="para1" class="m-0 my-2 text-prime">Admission Intakes</h1>
                    <p>DTE Code: EN3188</p>
                    <p>The courses offered by our Institute</p>
                </div>

                <h6 class="text-center my-3">Undergraduate Courses</h6>
                <div class="admit-first">
                    <table class="table table-responsive-lg">
                        <thead class="table-dark">
                            <tr>
                                <th style="vertical-align:middle" class="border-0 ml-1"><b>Course Name</b></th>
                                <th style="vertical-align:middle" class="border-0 text-center"><b>Choice Code</b></th>
                                <th style="vertical-align:middle" class="border-0 text-center"><b>Intake</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td class="border-0"></td></tr>
                            <tr>
                                <td class="p-2 pl-3">Computer Engineering - FE</td>
                                <td class="p-2 text-center">318824510</td>
                                <td class="p-2 text-center">120 Seats</td>
                            </tr>
                            <tr>
                                <td class="p-2 pl-3">Electronics and Telecommunication Engineering - FE</td>
                                <td class="p-2 text-center">318837210</td>
                                <td class="p-2 text-center">60 Seats</td>
                            </tr>
                            <tr>
                                <td class="p-2 pl-3">Information Technology - FE</td>
                                <td class="p-2 text-center">318824610</td>
                                <td class="p-2 text-center">120 Seats</td>
                            </tr>
                            <tr>
                                <td class="p-2 pl-3">Bachelor of Fine Art (BFA in Applied Art) - FE</td>
                                <td class="p-2 text-center"></td>
                                <td class="p-2 text-center">60 Seats</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
<footer>{% include 'navbar/footer.html' %}</footer>

</body>
</html>