<!DOCTYPE html>
{% load  static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <!-- css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
          integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/textstyles.css' %}">      
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'navbar/nav.html' %}
    <div class="container" style="margin-top: 56px;">
    <h1 style="text-align: center; background-color: #000050; color: #fff; margin-bottom: 2rem;">PROFILE</h1> 
    <div class="row" style="justify-content: center;">
    {% for student in students %} 
        <div class="card" style="width: 17rem; margin-bottom: 2rem;">
          <img class="rounded" src="{{student.Profile_Picture.url}}" width="254" height="200" style="margin: 8px;">
          <div class="card-body">
            <div class="card-title">
                <blockquote>
                    <h5 style="margin-bottom: 0px;">{{student.First_Name}} {{student.Middle_Name}} {{student.Last_Name}}</h5>
                    <small><cite title="Source Title">{{student.Student_ID}}, {{student.Email}}<i class="icon-map-marker"></i></cite></small>
                </blockquote> 
            </div>
            <p class="card-text"><b>First Name :</b> {{student.First_Name}}<br>
                    <b>Middle Name :</b> {{student.Middle_Name}}<br>
                    <b>Last Name :</b> {{student.Last_Name}} <br>
                    <b>Date of birth :</b> {{student.Date_of_Birth}} <br>
                    <b>Blood Group :</b> {{student.Blood_Group}} <br>
                    <b>Contact Number :</b> {{student.Contact_Number}} <br>
                    <b>Email :</b> {{student.Email}} <br>
                    <b>Address :</b> {{student.Address}} <br>
            </p>        
          </div>
        </div> 
    {% endfor %}
        </div>
    </div>   
<footer>{% include 'navbar/footer.html' %}</footer>
</body>
</html>