h1.heading{
    font-family: Roboto;
    font-size: 30px;
    color: #fff;
    line-height: 2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
}

body{
    background-color : white;
}

form {
    margin: 20px auto;
    width: 320px;
}

input {
    display: block;
    margin-bottom: 25px;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
}

input[type="text"] {
    margin-top: 2rem;
}

button {
    margin-top: 2rem;
} 

.custom  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.contain {
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    align-content: center;
    width: 440px;
    height: 450px;
    padding: 50px 40px 30px;  
    margin-bottom: 0px;
}

.btn{
 text-transform: uppercase;
}

input::placeholder {
  color:#d3d3d3;
  font-family :"Lucida Sans Unicode", Lucida Grande, sans-serif;
  font-size = 5px;
  padding-left:6px;
}


input:focus {
background-color : #BDEDFF ;
font-color : red;
outline: 0;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.input-icon input[type="text"], input[type="password"] {
  padding-left: 35px;
}

.input-icon {
  position: relative;
}

.input-icon i {
  position: absolute;
  left: 70px;
  top: 6px;
  padding: 8px 0px;
  color: black;
  transition: 0.3s;
}

