{% load static %}
<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5" style="background-color: #fff;">

  <div style="background-color: #21d192;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/">
            <i class="fab fa-facebook-square white-text mr-4" style="color: black"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/">
            <i class="fab fa-twitter-square white-text mr-4" style="color: black"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://in.linkedin.com/">
            <i class="fab fa-linkedin-in white-text mr-4" style="color: black"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/">
            <i class="fab fa-instagram white-text" style="color: black"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">About US</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="{% url 'Vision Mission Page' %}">Vision Mission</a>
        </p>
        <p>
          <a class="dark-grey-text" href="{% url 'Faculty Page' %}">Facilities</a>
        </p>
        <p>
          <a class="dark-grey-text" href="{% url 'Affiliation Page' %}">Affiliation</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Events</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <span>Culture Fest</span>
        </p>
        <p>
          <span>Technical Fest</span>
        </p>
        <p>
          <span>Sport Club</span>
        </p>
        <p>
          <span>Alumni Meet</span>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="{% url 'Login Page' %}">Student Login</a>
        </p>
        <p>
          <a class="dark-grey-text" href="{% url 'Login2 Page' %}">Staff login</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Mumbai, 400022, India</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@example.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 022 234 567 88</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 022 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">
    <marquee behavior="alternate" width=300 bgcolor="#fff" direction="right" onmouseover="stop()" onmouseout="start()">
      <font color="black">© 2019 Copyright:<a class="dark-grey-text" href="http://www.arbaazali.me/"><font color="black"> 
      arbaazali.me</a>
    </marquee>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->